@import url('https://fonts.googleapis.com/css?family=Lato');

.account-container {
    text-align: center;
    margin: 20px;
}


.account-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.account-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.account-username {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.account-role {
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
}

.account-button {
    margin-top: 5%;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background: #007bff;
    border: transparent;
    color: white;
}

.logOut{
    border:transparent;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}
.banner {
    background-color: #d3d3d3; 
    padding: 10px;
    text-align: left;
    width: 90%;
    height: 40px;
    position: fixed;
    top: 50px;
    
}

.back-button {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
    font-family: Lato;
}
Select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.row pt-4{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: column;
    align-items: center;
}